<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <title>node</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css" />
</head> 
<body>

  <div class="jumbotron">
    <form method="post">
      <div class="form-group">

        <label class="col-form-label" for="inputDefault">Title</label>
        <input name="title" type="text" class="form-control">

        <label class="col-form-label" for="inputDefault">Text of post</label>
        <input name="body" type="text" class="form-control">

        <button class="btn btn-secondary" type="submit">submit</button>
      </div>
    </form>
  </div>

</body>
</html>
